
<div class="container into">
    <div class="title-container"><h1>Sea Turtle Decision Support Tool</h1></div>
    <p id="ContentHeader"></p>
    <h5 id="ContentInstructionsHeader"></h5>
    <ul id="ContentInstructions"></ul>
    <p id="ContentFooter"></p>
    <h5 id="ContentFooterLinksHeader"></h5>
    <p id="ContentFooterLinks"></p>
    <a id="new-report-button" ng-keypress="introNewReportKeyPress($event)" ng-click="changeView('step1')" tabindex="0" title="Click for New Report">
        <div class="img-border">
            <img src="img/icon-file.png" />
        </div>
        <h3>New Report</h3>
        <p>Generate a new report</p>
    </a>
</div>

