.breadcrumbs
  list-style: none
  margin: 2rem 0
  padding: 0
  border: 2px solid $deep-blue
  overflow: hidden

  li
    float: left
    margin-bottom: 0 !important
    width: 25%
    background: white

    span
      color: $deep-blue
      padding: 10px 16px 10px 40px
      background: white
      position: relative
      display: block
      float: left

      &:after
        content: ""
        display: block
        width: 0
        height: 0
        border-top: 50px solid transparent
        border-bottom: 50px solid transparent
        border-left: 30px solid white
        position: absolute
        top: 50%
        margin-top: -50px
        left: 100%
        z-index: 2

      &:before
        content: ""
        display: block
        width: 0
        height: 0
        border-top: 50px solid transparent
        border-bottom: 50px solid transparent
        border-left: 30px solid $deep-blue
        position: absolute
        top: 50%
        margin-top: -50px
        margin-left: 2px
        left: 100%
        z-index: 1

      &.active
        background-color: $light-blue
        color: white

        &:after
          border-left: 30px solid $light-blue

    // &:first-child span
    //   padding-left: 50px
    &:last-child span
      &:after, &:before
        display: none
